################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DesignPatterns/v15
/Decorator/bin/Debug/netcoreapp2.0
/Decorator/obj
